@page "/"
@using ModelLibrary.Dto
@using RealDolmenInetum.Components.Layout
@using System.Text.Json
@inject HttpClient Http
@layout LoginLayout
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject AuthService auth

<PageTitle>Inloggen - Realdolmen Inetum</PageTitle>

<EditForm Model="@userLoginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="vh-100 d-flex justify-content-center align-items-center loginPage">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card shadow-lg border-0 rounded-lg">
                <div  class="card-header text-white text-center topBarLogin rounded-2">
                    <MudText Typo="Typo.h4" Align="Align.Center" Class="m-0">Inloggen</MudText>
                </div>
                <div class="card-body bg-white loginContainer rounded-2">
                    <div class="form-group mt-3">
                        <label for="email" class="form-label">Email</label>
                        <InputText id="email" class="form-control" @bind-Value="userLoginModel.Email" />
                    </div>
                    <div class="form-group mt-3">
                        <label for="password" class="form-label">Password</label>
                        <InputText id="password" class="form-control" @bind-Value="userLoginModel.Password" type="password" />
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <MudButton Class="btn btn-primary btn-block" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Inloggen</MudButton>
                    </div>
                    <p class="text-center text-danger mt-3">@errorMessage</p>
                </div>
            </div>
        </div>
    </div>
</EditForm>




