@page "/"
@using RealDolmenInetum.Components.Layout
@layout LoginLayout



<div class="loginContainer">
    <div class="card loginBorder">
        <div class="titleLogin mt-5">
            <MudText Typo="Typo.h4">Aanmelden</MudText>
        </div>
        <div class="tab-content">
            <div>
                <div class="form px-4 pt-5">
                    <MudTextField Class="mb-3" T="string" Label="Email" RequiredError="User name is required!" />
                    <MudTextField Class="mb-3" T="string" Label="Password" InputType="InputType.Password" />
                    <MudButton Class="mt-5" Href="/home" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary">Inloggen</MudButton>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
}
