@page "/register"
@using ModelLibrary.Dto
@inject HttpClient Http

<h3>Register</h3>

<EditForm Model="@userRegistrationModel" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="userRegistrationModel.Email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" class="form-control" @bind-Value="userRegistrationModel.Password" type="password" />
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <InputText id="firstName" class="form-control" @bind-Value="userRegistrationModel.First_Name" />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <InputText id="lastName" class="form-control" @bind-Value="userRegistrationModel.Last_Name" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private UserRegistrationDto userRegistrationModel = new UserRegistrationDto();

    private async Task HandleRegistration()
    {
        var response = await Http.PostAsJsonAsync("https://your-api-url/user/register", userRegistrationModel);
        if (response.IsSuccessStatusCode)
        {
            // Handle success, such as navigating to a login page or displaying a success message
        }
        else
        {
            // Handle error
        }
    }
}
