@page "/data"
@using ModelLibrary.Models
@using Newtonsoft.Json
@inject HttpClient Http

<h3>Benchers</h3>

@if (users != null)
{
    @foreach (var user in users)
    {
        <p>@user.First_Name</p>
    }
}

@code {
    public List<ModelLibrary.Models.User> users;
    public HttpClient httpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    public async Task FetchData()
    {
            var response = await httpClient.GetAsync("https://localhost:7256/benchers");
            var content = await response.Content.ReadAsStringAsync();

            // MAAK GEBRUIK VAN NEWTONSOFT.JSON VOOR DESERIALIZE(ERROR CAN NOT CONVERT)
            List<User> fetchUsers = JsonConvert.DeserializeObject<List<User>>(content);
            users = fetchUsers;
    }

}
