@page "/activiteit/einde"
@rendermode InteractiveServer
@using ModelLibrary.Models
@using Newtonsoft.Json
@using Microsoft.AspNetCore.WebUtilities;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Activiteit Beëindigen</PageTitle>

@if (!string.IsNullOrEmpty(currentOccupationType))
{
    <div class="container mt-5">
        <h2>Huidige Activiteit: @currentOccupationType</h2>
        <p>Ben je zeker dat je deze activiteit wilt beëindigen?</p>
        <button class="btn btn-danger" @onclick="EndActivity">Eindig Activiteit</button>
    </div>
}
else
{
    <div class="container mt-5">
        <h2>Geen activiteit geselecteerd of fout bij het laden van de activiteit.</h2>
    </div>
}



