@page "/activiteit"
@rendermode InteractiveServer
@using ModelLibrary.Models
@using Newtonsoft.Json
@inject HttpClient Http

<PageTitle>Activiteit selectie</PageTitle>

 <div class="alles">
    <div class="links">
        <h1>Welke activiteit ga je starten?</h1>

        <form action="#">
            <label for="activiteiten">Kies een activiteit:</label>
            <select name="activiteiten" id="activiteiten">
                @foreach (var occupation in occupations)
                {
                    <option value="@occupation.Type">@occupation.Type</option>
                }
            </select>

            <button type="submit" value="Opslaan" class="btn btn-success">Opslaan</button>
        </form>
    </div>

    <aside>
        <div class="uitlegInternproject">
            <h2>uitlegInternproject</h2>
            <p>
            uitlegInternproject
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit molestias possimus ipsa aliquid debitis
            ullam aspernatur, veritatis facere? Velit recusandae id nesciunt iure maxime voluptatibus est sint eius
            eligendi accusantium.
        </p>
            </div>
        }
    </aside>
    </div>

@code {
    public List<Occupation> occupations = new List<Occupation>();

    protected override async Task OnInitializedAsync()
    {
        await FetchOccupations();
    }

    // Data ophalen uit de api en daar een lijst mee vullen maken
    // Try catch met ChatGPT gemaakt. Moet nog getest worden.
    public async Task FetchOccupations()
    {
        try
        {
            var response = await Http.GetAsync("https://localhost:7256/occupation");
            if (response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStringAsync();
                occupations = JsonConvert.DeserializeObject<List<Occupation>>(content);
            }
            else
            {
                occupations = new List<Occupation>();
            }
        }
        catch (Exception ex)
        {
            occupations = new List<Occupation>();
        }
    }
}
