@page "/activiteiten"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthService auth

@if (userBenchId == 0)
{
    <MudAlert Class="mt-3" Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
        <h4 class="alert-heading">Jij staat niet op de Bench!</h4>
        <p>Je staat momenteel niet op de bench, dus je kunt geen activiteit kiezen. Neem contact op met je manager als je denkt dat dit een fout is.</p>
    </MudAlert>
}
else if (occupation == 0)
{
    <ActiviteitKiezen></ActiviteitKiezen>
}else
{
    <ActiviteitStoppen></ActiviteitStoppen>
}
