@inject HttpClient Http
@using ModelLibrary.Models
@using ModelLibrary.Dto
@inject NavigationManager NavigationManager
@using System
@inject ISnackbar Snackbar

<EditForm Model="@OccupationHistory" OnValidSubmit="Save">
    <div class="container mt-3">
        <div class="mb-3">
            <label for="occupationSelect" class="form-label">Occupatie:</label>
            <select @bind="OccupationHistory.OccupationId" id="occupationSelect" class="form-select">
                @foreach (var occupation in Occupations)
                {
                    <option value="@occupation.Id">@occupation.Type</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">Startdatum:</label>
            <InputDate id="startDate" @bind-Value="OccupationHistory.StartDate" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">Einddatum:</label>
            <InputDate id="endDate" @bind-Value="OccupationHistory.EndDate" class="form-control" />
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Opslaan</button>
        </div>
    </div>
    <p class="text-center mt-3">@BenchId</p>
</EditForm>


 
