@page "/user/{Id}"

@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<a class="btn btn-secondary" @onclick="GoBack">
    <span class="oi oi-arrow-thick-left"></span> Terug
</a>

<h1> @Id</h1>
<h3> John zit op de bench sinds:</h3>

<button class="btn btn-primary" @onclick="Einde">Einde</button>

@code {
    [Parameter]
    public string Id { get; set; }

    private void Einde()
    {

    }

    public async Task FetchUserData()
    {
        var response = "https://localhost:7256/user/id";
    }



    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }

}
