@page "/"
@using ModelLibrary.Models
@using ModelLibrary.Dto
@using ModelLibrary.ViewModels
@using Newtonsoft.Json
@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>

<a href="/toevoegen"><button class="btn btn-success">Toevoegen</button></a>
@if (usersOpBench != null) {
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Email</th>
                <th>Bench start</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userBench in usersOpBench)
            {
                <tr>

                    <td><MudIcon Icon="@Icons.Material.Filled.Person" Title="Favorite" />@userBench.username</td>
                    <td>@userBench.mail</td>
                    <td>@userBench.startBench.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
    }
    
else
{
    <p>No data available</p>
}

@code {
    public List<UserViewModel> usersOpBench;
    public HttpClient httpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    public async Task FetchData()
    {
        var response = await httpClient.GetAsync("https://localhost:7256/user/bench");
        if (!response.IsSuccessStatusCode)
        {
            //display error message in UI 
            return;
        }
        // 
        var content = await response.Content.ReadAsStringAsync();

        // MAAK GEBRUIK VAN NEWTONSOFT.JSON VOOR DESERIALIZE(ERROR CAN NOT CONVERT)
        List<UserViewModel> fetchUsers = JsonConvert.DeserializeObject<List<UserViewModel>>(content); // TO CHECK IF IT WORKS
        usersOpBench = fetchUsers;
    }
}
