@page "/toevoegen"
@using ModelLibrary.Dto
@using System.Text.Json
@using System.Text;
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<EditForm Model=formModel OnSubmit="Submit" FormName="formModel">
    <div class="form-group">
        <label for="Email">Email</label>
        <InputText id="Email" @bind-Value=formModel.Email />
    </div>.
    <div class="form-group">
        <label for="StartBench">Begindatum</label>
        <InputDate id="StartBench" @bind-Value=formModel.StartBench />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>

@code {
    [SupplyParameterFromForm]
    public UserBenchDto formModel { get; set; }

    // NOUVELLE INSTANCE DU FORM
    protected override void OnInitialized() => formModel ??= new();

    private async Task Submit(EditContext editContext)
    {
        Console.WriteLine("Email=" + formModel.Email + ", DateTime=" + formModel.StartBench.ToString());
        var stringData = JsonConvert.SerializeObject(formModel);
        var stringContent = new StringContent(stringData, Encoding.UTF8, "application/json");
        Console.WriteLine(stringData);

        var httpResponseMessage = await Http.PostAsync("https://localhost:7256/bench/add", stringContent);

        var responseBody = await httpResponseMessage.Content.ReadAsStringAsync();
        Console.WriteLine(responseBody);
    }
}
