@page "/toevoegen"
@inject NavigationManager NavigationManager

<EditForm Model="@formModel" OnValidSubmit="HandleValidSubmit">

  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" id="Email" @bind-value="formModel.Email" class="form-control" />
</div>



    <div class="form-group">
        <label for="startDate">Begindatum</label>
        <InputDate id="startDate" @bind-Value="formModel.StartDate" />
    </div>

    <div class="form-group">
        <label for="remark">Opmerking</label>
        <InputTextArea id="remark" @bind-Value="formModel.Remark" />
    </div>

    <button type="submit" class="btn btn-success">Start</button>
</EditForm>

@code {
    private FormModel formModel = new FormModel();

    private async Task HandleValidSubmit()
    {


        NavigationManager.NavigateTo($"/");
    }

    public class FormModel
    {
        public DateTime? StartDate { get; set; }
        public string Remark { get; set; }
        public string Email { get; set; }
    }
}
