@using MudBlazor
@inject HttpClient Http
@inject ISnackbar Snackbar
@using ModelLibrary
@using ModelLibrary.Dto
@using Newtonsoft.Json

<EditForm Model="@formModel" OnSubmit="@Submit">
    <MudTextField Label="Zoek gebruiker op email" @bind-Value="@formModel.Email" FullWidth />
     <MudButton Type="submit" Color="Color.Primary" Variant="Variant.Filled">Zoek</MudButton>
 </EditForm>

 @if (suggestedUsers.Any())
{
    <MudList>
        @foreach (var user in suggestedUsers)
        {
            <MudListItem @onclick="() => SelectUser(user)" Text="@user.Email" />
        }
    </MudList>
}
else if (searchPerformed)
{
    <p>Geen gebruikers gevonden.</p>
}

