@inherits LayoutComponentBase
@inject AuthService auth
@inject NavigationManager NavigationManager

<div class="loginLayout">
	<MudThemeProvider @rendermode="InteractiveServer" />
	<MudDialogProvider @rendermode="InteractiveServer" />
	<MudSnackbarProvider @rendermode="InteractiveServer" />
	@Body
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {


        if (auth.GetToken() == null)
        {
            NavigationManager.NavigateTo("/home", true);
        }
    }
}