@inherits LayoutComponentBase

<div class="loginLayout">
	<MudThemeProvider @rendermode="InteractiveServer" />
	<MudDialogProvider @rendermode="InteractiveServer" />
	<MudSnackbarProvider @rendermode="InteractiveServer" />
	@Body
</div>