@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Medewerker</th>
            <th>In Datum</th>
            <th>Uit Tijd</th>
            <th>Specialiteit</th>
         
        </tr>
        <tr>
    <td>1</td>
 <td>Jan Jansen</td>
    <td>2024-03-01</td>
    <td>17:00</td>
    <td>IT Specialist</td>
</tr>
<tr>
    <td>2</td>
    <td>Piet Pieters</td>
    <td>2024-03-01</td>
    <td>17:30</td>
    <td>Project Manager</td>
</tr>
    </thead>
   
</table>

<button class="btn btn-success" @onclick="NavigateToProjectFormulier">Toevoegen</button>

@code {
 

    private void NavigateToProjectFormulier()
    {
        NavigationManager.NavigateTo("/projectformulier");
    }
}
